@use './partials/resets' as *;
@use './partials/abstracts' as *;
@use './partials/mixins' as *;

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
  .preload-message {
    margin-top: -5rem;
  }
}

  .apppage {
    display: none;
    &.visible {
      display: block;
    }
  }


  .camp {
    &__header {
      background-color: $color-white;
      padding: 4rem 2rem;
      position: relative;
      & .logo {
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
        height: 50px;
        & > img {
          height: 100%;
        }
      }
    }
    & .page__header {
      display: flex;
      flex-direction: column;
      .navigator {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        a {
          font-size: 2rem;
        }
      }
      &__title {
      
      }
      &__subtitle {
        margin-top: 1rem;
        padding-left: 2.5rem;
      }
      &__location {
        margin-top: .5px;
        padding-left: 2.4rem;
      }
    }
    &__info {
      padding: 0 2rem;
      padding-top: 3rem;
      padding-bottom: 3rem;
      background-color: rgba($color-white, 0.9);
      // margin-top: 3rem;
      display: flex;
      gap: 3rem;
      &__header {
        &__p {
          text-align: justify;
          font-size: .9rem;
          margin-top: 2rem;
          width: 100%;
          display: inline-block;
        }
      }
      &__map {
        border-radius: .5rem;
        border-bottom-right-radius: 2rem;
        overflow: hidden;
        flex: 0 0 400px;
        width: 400px;
        height: 300px;
        background-color: $color-black-light;
      }
    }
  }
  .infofetch {
    display: flex;
    align-items: stretch;
    background-color: rgba($color-black, 0.9);
  }
  .road {
    margin: 2rem;
    margin-right: 0;
    width: 15%;
    background-color: $color-white;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 2px 15px rgba($color-black-light, 0.1);
  }
  .weather {
    margin: 2rem;
    background-color: $color-white;
    display: inline-flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: .5rem;
    width: 170px;
    transition: width 600ms ease-in-out;
    overflow: hidden;
    box-shadow: 0 2px 15px rgba($color-black-light, 0.1);
    &.expanded {
      width: 570px;
    }
    & > h2 {
      margin-bottom: 1rem;
      display: inline-block;
      font-size: 1.2rem;
    }
    .gunler {
      position: relative;
      display: flex;
      gap: 3rem;
      padding: 0 1rem;
      .expander {
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 3rem;
        position: absolute;
        right: -1rem;
        top: 50%;
        transform: translateY(-50%);
        color: rgba($color-black-light, 0.1);
        cursor: pointer;
      }
      & img {
        width: 86px;
      }
      #gun1 .min, #gun1 .max {
        font-size: 0.8rem;
      } 
      .hava {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex: 0 0 max-content;
        h3 {
          text-align: center;
        }
        .temp {
          background-color: $color-white;
          display: inline-block;
          padding: .5rem 0;
          text-align: center;
        }
      }
    }
    
  }

  .road {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .bi-signpost {
      position: absolute;
      top: 1rem;
      left: 1rem;
    }
    span {
      font-size: 3rem;
      text-align: center;
      img {
        width: 50%;
        margin: 0 auto;
      }
    }
  }

  .carousel {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba($color-black, 0.97);
    backdrop-filter: blur(5px);
    display: none;
    &.show {
      display: flex !important;
    }
    & > button {
      position: absolute;
      right: 1rem;
      top: 1rem;
      font-size: 1.5rem;
      outline: none;
      border: none;
      background-color: transparent;
      color: white;
      font-family: 'Arial', sans-serif;
      opacity: 0.5;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
    .disimage {
      margin-top: 4rem;
      margin-bottom: 2rem;
      display: flex;
      width: 100%;
      height: 80%;
      justify-content: center;
      & img {
        height: 100%;
      }
    }
    .img-selector {
      display: flex;
      height: 10%;
      justify-content: center;
      margin-bottom: 2rem;
      .img.active {
        border-bottom: 2px solid $color-secondary;
        & img {
          filter: brightness(100%) saturate(100%)
        }
      }
      .img {
        border-bottom: 2px solid transparent;
        transition: border-color 300ms;
      }
      & img {
        cursor: pointer;
        transition: filter 300ms;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(50%) saturate(0%);
        &:hover {
          filter: brightness(90%) saturate(70%);
        }
      }
    }
  }
  
  @media only screen and (max-width: 950px) {
    .camp {
      &__info {
        flex-direction: column;
      }
    }
    #map {
      width: 100%;
    }
  }


@media only screen and (max-width: 650px) {

  .infofetch {
    flex-direction: column;
    gap: 0;
  }
  .road {
    align-self: stretch;
    width: auto;
    transform: scale(.7);
  }
  .weather {
    margin-top: 0;
    transform: scale(.7);
    justify-self: flex-start;
    align-self: center;
  }
}


a, a:visited {
  text-decoration: none;
  color: $color-primary;
  transition: color 300ms;
  font-weight: 500;
}

a:hover {
  color: $color-secondary;
}

.images__carousel {
  display: flex;
  background-color: rgba($color-white-dark, .95);
  
  .img {
    flex: 1 1 200px;
    max-height: 400px;
    cursor: pointer;
    &:hover {
      & img {
        filter: brightness(120%) saturate(120%)
      }
    }
  }
  & img {
    transition: filter 300ms ease-in-out;
    filter: brightness(100%) saturate(60%);
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    pointer-events: none;
  }
}

footer {
  background-color: $color-black-light;
  position: relative;
  .totop {
    position: absolute;
    right: 2rem;
    top: 0;
    font-size: 2rem;
    padding: .5rem 1rem;
    border-bottom-right-radius: 1rem;
    background-color: $color-white;
    box-shadow: 0 5px 5px rgba($color-black, 0.9);

  }
  h4 {
    margin-bottom: .8rem;
    font-size: 1.1rem;
  }
  color: $color-white;
  padding: 2rem 0;
  padding-top: 4rem;
  text-align: left;
  font-size: 0.8rem;
  letter-spacing: 1px;
  .footer-row {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: .5rem;
    &:nth-child(2) {
      margin-top: 2rem;
      width: 50%;
    }
  }
  .footer-col {
    width: calc((100% - 30ch - 3rem) / 3);
  }
  .footer-col.links {
    width: 30ch;
  }
  .footer-col-copy{
    width: 100%;
    text-align: center;
  }

  .footer-col ul {
    width: 30ch;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: .5rem;
    & li {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: block;
    }
  }

}

@media only screen and (max-width: 860px) {
  .camp {
    &__header {
      padding: 2rem 1rem;
      & .logo {
        position: absolute;
        left: 2.7rem;
        top: 1.5rem;
        
        height: 30px;
        & > img {
          height: 100%;
        }
      }
    }
    & .page__header {
      &__title {
        margin-top: .1rem;
      }
      &__subtitle {
        margin-top: .1rem;
      }
      
    }
    &__info {
      flex-direction: column;
    }
  }
  footer .footer-row {
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    padding: .5rem;
    &:nth-child(2) {
      margin-top: 2rem;
      width: 90%;
    }
    .footer-col {
      width: 100%;
      text-align: center;
      & ul {
        margin: 0 auto;
      }
    }
  }
}