doctype html
html(lang="tr")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/main.min.css")
    title KampSitesi | Test Front End
  body 
    button FETCH
    p Result
    form(method="post" id="cInfo" enctype="multipart/form-data") 
      input(type="hidden", name="id" value="0988499399d883")
      input(type="text", name="place" value="Datça")
      input(type="text", name="region" value="Muğla")
      input(type="text", name="provinance" value="Ege Bölgesi")
      button(type="submit") Gönder 
    script(src="js/test.prod.js") 