@use './abstracts' as *;
@use './mixins' as *;
@use './animations' as *;

.featured-campgrid {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 200px);
  gap: 1rem;
  margin-top: -2rem;
}



.featured-camp {
  position: relative;
  border-radius: .3rem;
  overflow: hidden;
  cursor: pointer;
  & * {
    pointer-events: none;
  }
  &:hover {
    .featured-camp__img img {
      transform: scale(1.2);
    }
    .featured-camp__info {
      & > h3 {
        letter-spacing: 1px;
      }
    }
  }
  .dummy {
    position: absolute;
    width: 50%;
    height: 50%;
    aspect-ratio: 1 / 1;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    object-fit: cover;
    z-index: -1;

  }
  &__info {
    position: absolute;
    color: white;
    @include abslute-cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > h3 {
      font-size: 1.2rem;
      text-transform: capitalize;
      text-align: center;
      margin: 0 1rem;
      transition: letter-spacing 500ms ease-in-out;
    }
    & > p {
      position: absolute;
      right: 0;
      top: 5px;
      transform: translateX(-25%);
    }
  }
  &__img {
    position: relative;
    width: 100%;
    height: 100%;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(60%);
      transition: transform 500ms ease-in-out;
    }
    &:after {
      content: '';
      position: absolute;
      @include abslute-cover;
      background: radial-gradient(rgba(black, .6), rgba($color-black-light, .2));
      background-color: rgba($color-base, .2);
    }
  }
  grid-column: auto / span 1;
  &:nth-of-type(2) {
    grid-column: 2 / -1;
  }
  &:nth-of-type(3) {
    grid-column: 1 / span 2;
  }


}

.more {
  background-color: #eee;
  padding: .5rem 2rem;
  display: inline-block;
  transition: color 300ms, background-color 300ms;
  margin-top: 1rem;
  align-self: flex-end;

}

.kamplistesi {
  & > p {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: .8rem;

  }
  
}

.liste-header {
  margin: 4rem 0;
  margin-top: 8rem;
  h2 {
    text-align: center;
  }

  p{
    margin-top: 1rem;
    text-align: center;
  }
}

.filter {
  display: flex;
  // margin: 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border: 1px solid rgba($color-white-dark, 0.3);
  border-radius: .3rem;
  gap: .5rem;
  .selector {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    & label {
      color: rgba($color-black-light, 0.9);
    }
    & select {
      width: 100%;
      outline: none;
      border: none;
      font-family: inherit;
      font-size: 1rem;
      padding: .2rem 1rem;
    }
  }
}

@for $i from 0 to 20 {
  .card:nth-child(#{$i}) {
    animation-delay: #{(50 * $i)}ms;
  }
}

.btn {
  padding: .5rem;
  background-color: transparent;
  outline: none;
  border: 1px solid #eee;
  transition: background-color 300ms;
  position: relative;
  cursor: pointer;
  &:hover {
    background-color: #ccc;
  }
  &:active {
    background-color: $color-secondary;
  }
  &:disabled {
    cursor: default;
  }
  &:disabled:hover {
    background-color: transparent;
  }
}

.clean-filters {
  position: relative;
  &.filtered {
    &::after {
      content: '';
      pointer-events: none;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 70%;
      transform: translateY(-50%) rotate(45deg);
      opacity: 0.3;
      background-color: $color-black;
      z-index: 2;
    }
    .btn {
      background-color: $color-primary;
      &:hover {
        background-color: #ccc;
      }
    }

  }
}

.error {
  color: red;
}



.navholder {
  position: fixed;
  right: 0;
  top: 0;
  width: 7rem;
  height: 6rem;
  overflow: hidden;
  background-color: transparent;
  border-radius: 5rem;
  transition: background-color 50ms ease-in-out 0s, width 500ms ease-in-out 300ms, height 300ms ease-in-out, border-radius 600ms ease-in-out 200ms;
  z-index: 9998;
  .navnav {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 5rem;
    width: 100%;
    height: calc(100% - 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 300ms ease-in-out 200ms;
    &.show {
      pointer-events: all;
      opacity: 1;
    }
  }
  nav.nav {
    padding: 1rem;
    position: absolute;
    right: 1rem;
    background-color: transparent;
    button {
      padding: .2rem .5rem;
      font-size: 2rem;
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      transition: transform 500ms;
      &.trans {
        transform: rotate(360deg);
      }
      & > i {
        pointer-events: none;

      }
      &:hover {
        transform: rotate(0deg) scale(1.1);
      }
    }
  }
  .navul {
    margin: 0;
    padding: 0;
    & > li {
      list-style-type: none;
      & > a {
        &, &:visited {
          position: relative;
          text-transform: uppercase;
          font-weight: 800;
          font-size: 2rem;
          text-align: center;
          display: block;
          padding: 1rem 2rem;
          transition: color 300ms ease-in-out, font-size 300ms ease-in-out, transform 300ms ease-in-out, letter-spacing 300ms ease-in-out ;
        }
        &::after {
          color: $color-white;
          text-shadow: 0 0 2px black;
          top: 50%;
          left: 50%;
          transform: translate(-53%, -40%);
          position: absolute;
          content: attr(data-link);
          z-index: -1;
          transition: color 300ms ease-in-out, font-size 300ms ease-in-out, transform 300ms ease-in-out ;
        }
        &::before {
          color: $color-white;
          text-shadow: 0 0 2px $color-primary;
          top: 50%;
          left: 50%;
          transform: translate(-56%, -30%);
          position: absolute;
          content: attr(data-link);
          z-index: -1;
          transition: color 300ms ease-in-out, font-size 300ms ease-in-out, transform 300ms ease-in-out ;
        }
        &:hover {
          font-size: 2.5rem;
          letter-spacing: 5px;
          &::after {
            transform: translate(-53%, -50%);
            font-size: 3rem;
          }
          &::before {
            transform: translate(-56%, -50%);
            font-size: 5rem;
          }
        }
      }
    }
  }
  &.shownav {
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: rgba($color-white, .95);
    backdrop-filter: blur(15px);
    transition: background-color 100ms ease-in-out 300ms, width 300ms ease-in-out, height 500ms ease-in-out 300ms, border-radius 600ms ease-in-out 200ms;
  }
}