@use './abstracts' as *;
@use './mixins' as *;

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

main {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  & > a > img {
  height: 75px;
  }
  & > ul {
    margin: 0;
    padding: 0;
    display: flex;
    & li {
      list-style-type: none;
      & > a {
        margin: 0 .3rem;
      }
    }
  }
  a, a:visited {
    color: $color-black-light;
    text-decoration: none;
    transition: color 300ms;
  }
  a:hover {
    color: $color-primary;
  }
}

.map {
  background-color: $color-secondary;
  height: 70vh;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



