@use './abstracts' as *;
@use './mixins' as *;

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

main {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  & > a > img {
  height: 75px;
  }
  & > ul {
    margin: 0;
    padding: 0;
    display: flex;
    & li {
      list-style-type: none;
      & > a {
        margin: 0 .3rem;
      }
    }
  }
  a, a:visited {
    color: $color-black-light;
    text-decoration: none;
    transition: color 300ms;
  }
  a:hover {
    color: $color-primary;
  }
}

.map {
  background-color: $color-secondary;
  height: 50vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

.random-camp {
  margin-top: 6rem;
  .page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > h2 {
      font-size: 2.2rem;
      color: $color-primary;
    }
    .location {
      color: $color-secondary;
    }
  }
  .page-info {
    margin-top: 4rem;
    display: flex;
    gap: 2rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    .page-info-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: space-between;
      width: 100%;
      & > p {
        text-align: justify;
      }
    }
    & > img {
      height: 400px;
      width: 350px;
      object-fit: cover;
    }
  }
  
}

a, a:visited {
  color: $color-black-light;
  text-decoration: none;
  color: $color-primary;
  transition: color 300ms;
  font-weight: 500;
}

a:hover {
  color: $color-secondary;
}

footer {
  background-color: $color-black-light;
  h4 {
    margin-bottom: .8rem;
    font-size: 1.1rem;
  }
  margin-top: 5rem;
  color: $color-white;
  padding: 2rem 0;
  padding-top: 4rem;
  text-align: left;
  font-size: 0.8rem;
  letter-spacing: 1px;
  .footer-row {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: .5rem;
    &:nth-child(2) {
      margin-top: 2rem;
      width: 50%;
    }
  }
  .footer-col {
    width: calc((100% - 30ch - 3rem) / 3);
  }
  .footer-col.links {
    width: 30ch;
  }
  .footer-col-copy{
    width: 100%;
    text-align: center;
  }

  .footer-col ul {
    width: 30ch;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: .5rem;
    & li {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: block;
    }
  }

}

@media only screen and (max-width: 860px) {
  footer .footer-row {
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    padding: .5rem;
    &:nth-child(2) {
      margin-top: 2rem;
      width: 90%;
    }
    .footer-col {
      width: 100%;
      text-align: center;
      & ul {
        margin: 0 auto;
      }
    }
  }

  .random-camp {
    margin-top: 3rem;
    .page-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      & > h2 {
        font-size: 2rem;
        color: $color-primary;
      }
      .ra {
        text-align: center;
        padding: 0 1rem;
      }
      .location {
        color: $color-secondary;
      }
    }
    .page-info {
      margin-top: 2rem;
      height: 100%;
      width: 100%;
      position: relative;
      padding: 1rem;
      background-color: rgba($color-white, .8);
      .page-info-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: space-between;
        width: 100%;
        & > p {
          text-align: justify;
        }
      }
      .rp {
        text-indent: 3ch;
      }
      & > img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: -1;
      }
    }
    
  }
  
}